<%= params %>
<h1>Creating new playlist!</h1>
<p>Keep adding songs until you're done...</p>

<%= form_tag("", method: "get") do %>
	<%= label_tag(:artist, "Artist:") %>
	<%= text_field(:new_song, :artist_name) %>
	<%= label_tag(:song_title, "Song:") %>
	<%= text_field(:new_song, :song_title) %>
	<%= submit_tag("Add") %>
<% end %>

<% for song in @songs %>
	<p><%= "#{song.song_title} by #{song.artist_name}" %></p>
<% end %>

<%= link_to "Done!", playlist_path(@playlist)%>

