<div class="mxtp-main">
        <h1 class="playlist-title"><%= @playlist.title.upcase %></h1>

        <div class="cassette-tape"><%= image_tag("cassette.svg") %></div>

        <div class="mxtp-player">
            <iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:<%#= @list_of_songs %>" frameborder="0" allowtransparency="true"></iframe>
        </div>

        <div class="mxtp-section">
                <% for song in @songs %>
                        <div class="song-listing">

                                <div class="song-details"><p><%= song.song_title %> by <%= song.artist_name %></p></div>
                                <!-- <div class="song-artist"><p>Artist: <%= song.artist_name %></p></div> -->
                                <% if song.notes != nil %>
                                <div class="song-notes"><p>Note: <%= song.notes %></p></div>
                                <% else %>
                                <div class="song-note-form">
                                  <%= form_for(song) do %>
                                    <%= label_tag "Add Note:" %>
                                    <%= text_field_tag :notes, "#{song.notes}" %>
                                    <%= submit_tag("Add") %>
                                  <% end %>
                                <% end %>
                            <!-- <div class="mxtp-buttons"> -->
                                    <div class="mxtp-form-btn"><%= button_to "Delete Song", playlist_song_path(song), method: :delete %>
                                    </div>
                            <!-- </div> -->
                                </div>
                        </div>

                <% end %>
        </div>

        <div class="mxtp-section">
                <div class="mxtp-buttons">
                        <%= button_to "Edit Playlist", edit_playlist_path(@playlist), method: :get %>
                        <%= button_to "Home", root_path, method: :get %>
                </div>
        </div>

        <!-- 
        <iframe src="https://embed.spotify.com/?uri=spotify:track:3eMDxLX9JaTTIqyvk7rPfW" frameborder="0" allowtransparency="true"></iframe> -->
</div>

