<div class="content-main">
        <h1 class="playlist-title">Playlist #<%= @playlist.id %></h1>

        <% for song in @songs %>
                <div class="song-listing">
                        <div class="song-title"><p>Title: <%= song.song_title %></p></div>
                        <div class="song-artist"><p>Artist: <%= song.artist_name %></p></div>
                        <div class="song-notes"><p>Note: <%= song.notes %></p></div>
                  
                        <div class="song-note-form">
                          <%= form_for(song) do %>
                            <%= label_tag "Add/Edit Note:" %>
                            <%= text_field_tag :notes, "#{song.notes}" %>
                            <%= submit_tag("Add") %>
                          <% end %>
                        </div>
                </div>


          <%= button_to "Delete Song", {:controller => :playlist_song,
              :action => 'destroy', :id => song.id }, :method => :delete %>
          
          <hr>
        <% end %>

        <div class="admin-buttons">
                <%= button_to "Edit Playlist", edit_playlist_path(@playlist), :method => :get %>
                <%= button_to "Home", root_path, :method => :get %>
        </div>

        <!-- 
        <iframe src="https://embed.spotify.com/?uri=spotify:track:3eMDxLX9JaTTIqyvk7rPfW" frameborder="0" allowtransparency="true"></iframe> -->
</div>

